@model App.Domain.StudySession

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StudySession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssignmentId" class="control-label"></label>
                <select asp-for="AssignmentId" class="form-control" asp-items="ViewBag.AssignmentId"></select>
                <span asp-validation-for="AssignmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyGroupId" class="control-label"></label>
                <select asp-for="StudyGroupId" class="form-control" asp-items="ViewBag.StudyGroupId"></select>
                <span asp-validation-for="StudyGroupId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
