html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	/* background: linear-gradient(90deg, #c7bfc2, #f6eee5); */
	/* background: linear-gradient(90deg,#e52e71,#ff8a00); */
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
	color: var(--bs-secondary-color);
	text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
	text-align: start;
}

.content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url('/WanderFundTransparent.png') top center no-repeat;
	background-size: 30% 52%;
}

.content::before {
	position: absolute;
	content: "";
	left: auto;
	top: 36%;
	width: 60%;
	height: 30%;
	background: #cecece;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

	0%,
	100% {
		border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
		transform: translate3d(0, 0, 0) rotateZ(0.01deg);
	}

	34% {
		border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
		transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
	}

	50% {
		transform: translate3d(0, 0, 0) rotateZ(0.01deg);
	}

	67% {
		border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
	}
}


/* ============================================================= */
.trips-container {
	display: flex;
	justify-content: space-evenly;
}
.trips-card-body {
	width: 300px;
	height: 200px;
	background-color: #b5d3f4;
	border-radius: 20px;
	border: 2px solid #258cfb;
	padding: 20px;
}

